# ===== Maven =====
target/

# ===== Eclipse =====
.classpath
.project
.settings/
.metadata/

# ===== IntelliJ =====
.idea/
*.iml

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
